html,
body {
 box-sizing: border-box;
}

*,
*::after,
*::before {
 box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  height: auto;
  font-family: 'Roboto', 'Serif', Sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-transform: none;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

/* Перенос текста на новую строку */
span.text-wrap {
white-space: pre;
}

/* отключение линии подчеркивания у ссылок */
a {
text-decoration: none;
}

  /* ------------------------ОСНОВНЫЕ СВОЙСТВА ШАПКИ ------------------*/

.main-header {
  display: block;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
}

  /*--------------------------- ЛОГОТИП ШАПКИ -----------------------*/
  /* Логотип в шапке сайта */
.logo {
  display: block;
  width: 160px;
  height: 65px;
  margin: 49px 0 0 140px;
}

  /* Измененные состояния логотипа в шапке сайта */
.logo img:hover,
.logo img:focus {
  opacity: 0.80;
}
.logo img:active {
  opacity: 0.30;
}
  /* ОБЩИЕ НАСТРОЙКИ ГЛАВНОГО МЕНЮ */
.main-navigation {
  display: flex;
  width: auto;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #283136;
}

  /* Контейнер для элементов главного меню */
.flex-wrap {
  display: flex;
  padding: 0;
  margin: 0;
}
  /* Список основных элементов меню */
.list-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin: 80px  200px 35px 200px;
  padding: 0;
}
  /* Покупательская корзина */
.user-navigation {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: auto;
  margin: 80px 120px 35px 0;
}
  /* Свойства состояний элементов главного меню */
.list-navigation a:hover,
.list-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.list-navigation a:active,
.user-navigation a:active {
  opacity: 0.30;
}

  /* Настройки вида ссылок главного меню */
.list-navigation a,
.user-navigation a {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

  /* ----------------------СЛАЙДЕР---------------------- */

.main-container {
  min-width: 1200px;
  padding: auto 20px;
  margin: auto 120px;
  min-height: 1700px;
  border: 1px solid green;
}


  /* Общее свойство блоков слайдера */
.slider-slide {
  display: flex;
  background-color: #eeeeee;
}

  /* Текстовый блок слайда */
.slider-slide-text_box {
  width: 390px;
  height: 431px;
  padding: 70px 20px 0 0px;
  margin: 0;
}
  /* Заголовок текстового блока слайда */
.slider-slide_title {
  display: inline-block;
  text-transform: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 27px;
}
  /* Обычный текст текстового блока слайда */
.slider-slide_text {
  display: inline-block;
  font-family: inherit;
}
  /* Ссылка в виде кнопки в текстовом блоке слайда */
.slider-slide_link {
  border: 1px solid white;
  display: block;
  width: 240px;
  min-height: 50px;
  border-radius: 5px;
  padding: 18px 0;
  text-align: center;
  background-color: #fb565a;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 79px;
}
  /* Изображение в блоке слайда */
.slider-slide_img {
  width: 760px;
  height: 431px;
  float: right;
  padding: 0;
  margin: 0 140px 0 20;
}

  /* Настройки вида состояний ссылок в текстовом блоке слайда  */
.slider-slide_link:hover,
.slider-slide_link:focus {
  transition: 0.2s;
  background-color: #e74246;
}
.slider-slide_link:active {
  transition: 0.2s;
  background-color: #d7373b;
  color: #e48789;
}
  /* Свойства кнопок переключения слайда */
.pagination {
  position: absolute;
  z-index: 2;
  width: 90px;
  bottom: 95px;
  left: 50%;
  margin-left: -45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination_bullet {
  font-size: 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.pagination_bullet::before {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  opacity: 0;
}

.pagination_bullet.active {
  pointer-events: none;
}

.pagination_bullet.active::before {
  opacity: 1;
}


  /* -----------------------УСЛУГИ---------------------------------------- */

.services-list {
  display: flex;
  justify-items: space-between;
  width: 1100px;
  padding: 0;
  margin: 0;
}

.services-list_item {
  display: block;
  width: 300px;
  height: 428px;
  margin-top: 80px;
  margin-right: 100px;
}
  /* ------Заголовки видов услуг---------- */
.services-list_title {
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.service-link  {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  width: 160px;
  height: 50px;
  padding: 18px 0;
  text-align: center;
  color: #ffffff;
}

.button-service_red {
  background-color: #fb565a;
}

.button-service_green {
  background-color: #00ca74;
}

.button-service_yellow {
  background-color: #efc84a;
}

  /* -------------------------О НАС ----------------------- */
.box-about-advantage {
  display: flex;
  min-height: 528px;
  min-width: 1280px;
  padding: 0;
  margin-bottom: 75px;
}

.about {
  width: 660px;
  height: 530px;
  padding: 0;
  margin: 0 140px 0 0;
}

.slogan-title {
  display: inline-block;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #000000;
  padding: 82px 0 0 0;
  margin: 0;
}

.slogan-text {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0 0 45px 0;
}

.about-list_title {
  display: block;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 18px 0;
}

.about-list {
  display: block;
  width: 460px;
  height: 150px;
  border: 1px solid green;
}

li.about-list_item {
  display: inline-block;
  padding: 0;
  margin-bottom: 35px;
}



/* --------Блок преимуществ в цифрах--------- */


.advantage {
  width: 360px;
  height: 485px;
  padding: 0;
  margin-top: 42px;
  margin0;
}

.advantage-img {
  width: 360px;
  height: 208px;
  padding: 0;
  margin: 40px 0 0 0;
}

.box-advantage_facts {
  display: flex;
  justify-content: space-between;
  min-width: 360px;
  min-height: 180px;
  padding: 0;
  margin-top: 50px;
}

.advantage-list {
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.advantage-list_title {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 49px;
}

.about-list_item {
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin:0;
}


.advantage-list_item-digits {
  min-width: 100px;
  min-height: 40px;
  font-size: 45px;
  line-height: 51px;
  font-weight: bold;
  color: #000000;
  padding: 0;
  margin-bottom: 22px;
}

.advantage-list_item-text {
  width: 107px;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  padding: 0;
  margin: 0;
}

/* .partners {
  display: flex;
  width: 1200px;
  height: 250px;
  padding: 0;
  margin: 0 120px 50px 140px;
  border: 1px solid black;
} */

.partner-list {
  display: flex;
  min-width: 1200px;
  height: 200px;
  padding: 0;
  margin: auto 0;
  border: 1px solid green;
}

.partner-list_item-img {
  width: 260px;
  height: 180px;
  padding: 0;
  margin: 10px 20px;
}


.partner-list_item-img {
  opacity: 0.2;
}
.partner-list_item-img:hover,
.partner-list_item-img:focus {
  opacity: 1;
}
.partner-list_item-img:active {
  opacity: 0.1;
}

.contacts-info {
  display: block;
  position: absolute;
  width: 319px;
  height: 308px;
  background-color: #ffffff;
  padding-top: 0;
  margin: 52px 0 54px 140px;
}

.contacts-info_title {
  font-size: 18;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin: 54px 77px 35px 50px;
}

.contacts-info_item {
  width: 200px;
  height: 71px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  padding:0;
  margin: 0
}

.contacts-link {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  width: 219px;
  height: 50px;
  padding: 18px 0;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  margin: 37px 50px 47px 50px;
}

.social-content {
  display: flex;
  width: 1200px;
  height: 216px;
  padding: 0;
  margin: 0 120px;

}

.social-list {
  display: flex;
  width: 260px;
  height: 80px;
  padding: 0;
  margin: 65px 0 70px 20px;
}

.social-title {
  display: inline;
  font-family: inherit;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  color: #000000;
  padding: 0;
  margin: 80px 0 0 140px;
}

.social-text {
  display: inline;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #444444;
  padding: 0;
  margin: 94px 0 0 140px;

}


.list-navigation,
.user-navigation,
.item-navigation,
.services-list,
.services-list_item-img,
.about-list_item,
.advantage-list_item,
.partner-list_item,
.social-list_item {
  list-style: none;
}

.visually-hidden {
  display: none;
}
  /* -------------------декоративная линия----------- */
/* .divide {
  background-image: url("divide.png");
  position: relative;
  left: 140px;
  top: 1052px;
  width: 1160px;
  height: 2px;
} */
